:root{
  --big-font-size:56px;
    --h1-font-size:50px;
    --h2-font-size:32px;
    --h3-font-size:24px;
    --large-font-size:18px;
    --normal-font-size:16px;
    --small-font-size:15px;
    --smaller-font-size:14px;
    --tiny-font-size:12px;

    --weight-400:400;
    --weight-500:500;
    --weight-600:600;
    --weight-700:700;
    --weight-800:800;
}

body{
  background-color: #FFA500;
}
.grid{
  display: grid;

}

.container{
  grid-template-columns: repeat(4, 1fr);
  column-gap: 38px;
  
}

@media screen and (max-width:976px){
  .container{
    grid-template-columns: repeat(2 , 1fr);
    row-gap: 10px;
  }
  
}

@media screen and (max-width:464px){
  .container{
    grid-template-columns: 1fr;
  }
  
}

