  .box{
    background-color: white;
    padding: 40px;
    min-height: 30vh;
  }

  .color {
    position: relative;
  }
  
  .color::before {
    content: "New";
    position: absolute;
    background-color: #FFA500; /* Set your desired corner color */
    width: 130px; /* Adjust the width of the corner color */
    height: 20px; /* Adjust the height of the corner color */
    bottom: 7%;
    right: 80%;
    transform: rotate(310deg);
    display: flex;
    justify-content: center;
  }
  
  .title{
    text-align: center;
    margin-bottom: 70px;
  }

  .price-container{
    text-align: center;
    background-color: aliceblue;
    
  }
  .start{
    margin-bottom: -40px;
    font-weight: var(--weight-700);
  }
  .price{
    margin-bottom: -10px;
    font-size: var(--h1-font-size);
  }

  .price span{
    font-size: var(--h2-font-size);
    vertical-align: 25%;
  }

  .fee{
    color: rgb(47, 47, 82);
    font-size: var(--h7-font-size);
    font-weight: var(--weight-600);
  }

  .fee1{
    font-weight: var(--weight-600);
  }
  .description{
    min-height: 50px;
    margin-bottom: 80px;
  }
  .link{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  a{
    position: absolute;
    bottom: 5%;
    text-decoration: none;
    font-weight: var(--weight-600);
  }

  @media screen and (max-width:1250px){
    .color::before{
      right: 77%;
      height: 18px;
    }
    
  }

  @media  screen and (max-width:1100px) {
    .color::before{
      right: 70%;
      bottom: 10%;
      font-size: 15px;
    }
    
  }


  @media  screen and (max-width:976px) {
    .color::before{
      right: 85%;
      font-size: 13px;
      bottom: 15%;
    }
    
  }

  @media screen and (max-width:748px){
    .color::before{
      right: 80%;
    }
    
  }

  @media screen and (max-width:584px){
    .color::before{
      right: 78%;
    }
    
  }

  @media screen and (max-width:464px){
    .color::before{
      bottom: 10%;
      right: 85%;
    }
  }

  @media screen and (max-width:380px){
      .color::before{
        right: 80%;
      }
  }


  
  

  